<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
body, html {
    height: 100%;
}

div {

background: transparent;
}
.ul_menu{
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #f19a16;
}

.li_menu{
    float: left;
    border-right: 1px solid #bbb;
}

.li_menu_a{
    font-family: "Verdana", Geneva, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.li_menu_a:hover:not(.active) {
    background-color: white;

}

.active {
    background-color: #4CAF50;
}
.bg {
    /* The image used */
    background-image: url("/static/black2.jpg");

    /* Full height */

    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    text-align: center;
    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;


}
.submit {
 	text-align: center;
    padding: 30px 20px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 20px;
}

h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 140px;
	font-style: italic;

}
.table {
	display: table;   /* Allow the centering to work */
	margin: auto;
	align-content: center;
}
label{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-style: italic;
	padding: 30px 20px;
}
p{
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 30px;
	text-align: center;
  color: #fff;

}
.button5 {border-radius: 60%;
text-align: center;}
.button {
    background-color: #7eb530;
    border: none;
    color: #130202;
    padding:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    margin-left: 230px;
}

.button:hover{
	background-color: #f65d14e3;
}
.ul_in {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    align-self: center;
    display: inline;

}
.w3-center{text-align:center!important}
.mySlides {display:none}
.w3-content{max-width:450px;margin:auto}
.w3-section{margin-top:16px!important;margin-bottom:16px!important}

.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-light-grey{color:#000!important;background-color:#f1f1f1!important}
.w3-display-container{position:relative}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-large{font-size:24px!important; font-weight:bold}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-container{padding:0.01em 16px}
.w3-black{color:#fff!important;background-color:#000!important}

li {
    float: left;

}

li a:hover {
    background-color: #111111;
}

</style>
<body class="bg">
<ul class="ul_menu">
  <li class="li_menu"><a class="li_menu_a" href="#home">Home</a></li>
  <li class="li_menu"><a class="li_menu_a" href="#news">Assistant</a></li>
  <li class="li_menu"><a class="li_menu_a" href="#contact">Help</a></li>
  <li class="li_menu"><a class="li_menu_a" class="active" href="#about">My score</a></li>
</ul>
<form>
  <p>Welcome to level 1 in basic class. You have selected body parts card set.</p>
  <p>Let us now study the names of human body parts</p>
	<div align="center">

        <div class="w3-content w3-display-container">
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('eyes');">
              <img src="/static/eyes.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              EYE
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('ear');">
              <img src="/static/ear.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              EAR
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('mouth');">
              <img src="/static/mouth.png" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              MOUTH
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('hands');">
              <img src="/static/hands.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              HAND
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('leg');">
              <img src="/static/legs.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              LEG
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('finger');">
              <img src="/static/fingers.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              FINGER
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('foot');">
              <img src="/static/foot.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black" >
              FOOT
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('head');">
              <img src="/static/head.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              HEAD
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('tongue');">
              <img src="/static/tongue.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              TONGUE
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('teeth');">
              <img src="/static/teeth.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              TEETH
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('neck');">
              <img src="/static/neck.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              NECK
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('cheek');">
              <img src="/static/cheek.jpeg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              CHEEK
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('face');">
              <img src="/static/face.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              FACE
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('hair');">
              <img src="/static/hair.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              HAIR
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('eyebrows');">
              <img src="/static/eyebrows.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black">
              EYEBROWS
            </div>
            </a>

          </div>
          <div class="w3-display-container mySlides">
            <a onclick="myAudioFunction('stomach');">
              <img src="/static/stomach.jpg" style="width:100%" title="Click on image to listen the audio">
               <div align="center" class="w3-large w3-container w3-padding-16 w3-black" >
              STOMACH
            </div>
            </a>

          </div>

        </div>

        <div class="w3-center">
          <div class="w3-section">
            <button type="button" class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
            <button type="button" class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
          </div>


        </div>

</div>
<script>
     var eye_Audio = new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/a/aye/aye__/aye.ogg');
     var ear_audio = new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/e/ear/ear__/ear.ogg');
     var mouth_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/m/mou/mouth/mouth.ogg');
     var hands_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/h/han/hand_/hand.ogg');
     var leg_audio= new Audio('//ssl.gstatic.com/dictionary/static/sounds/20160317/leg--_us_1.mp3');
     var finger_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/f/fin/finge/finger.ogg');
     var foot_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/f/foo/foot_/foot.ogg');
     var head_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/h/hea/head_/head.ogg');
     var tongue_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/t/ton/tongu/tongue.ogg');
     var teeth_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/t/tee/teeth/teeth.ogg');
     var neck_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/n/nec/neck_/neck.ogg');
     var cheek_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/c/che/cheek/cheek.ogg');
     var face_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/f/fac/face_/face.ogg');
     var hair_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/h/hai/hair_/hair.ogg');
     var eyebrow_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/u/use/usext/usexten028.ogg');
     var stomach_audio= new Audio('https://dictionary.cambridge.org/media/english/us_pron_ogg/s/sto/stoma/stomach.ogg');

     function myAudioFunction(letter) {
      switch(letter){
        case "eyes":
          if(eye_Audio.paused){
              eye_Audio.play()
            }
          else{
              eye_Audio.pause();
            }
          break;
        case "ear":
          if(ear_audio.paused){
                ear_audio.play()
              }
          else{
                ear_audio.pause();
              }
          break;
        case "mouth":
          if(mouth_audio.paused){
              mouth_audio.play()
            }
          else{
              mouth_audio.pause();
            }
          break;
        case "hands":
          if(hands_audio.paused){
              hands_audio.play()
            }
          else{
              hands_audio.pause();
            }
          break;
        case "finger":
          if(finger_audio.paused){
              finger_audio.play()
            }
          else{
              finger_audio.pause();
            }
          break;
        case "leg":
          if(leg_audio.paused){
              leg_audio.play()
            }
          else{
              leg_audio.pause();
            }
          break;
        case "foot":
          if(foot_audio.paused){
              foot_audio.play()
            }
          else{
              foot_audio.pause();
            }
          break;
        case "head":
          if(head_audio.paused){
              head_audio.play()
            }
          else{
              head_audio.pause();
            }
          break;
        case "tongue":
          if(tongue_audio.paused){
              tongue_audio.play()
            }
          else{
              tongue_audio.pause();
            }
          break;
        case "teeth":
          if(teeth_audio.paused){
              teeth_audio.play()
            }
          else{
              teeth_audio.pause();
            }
          break;
        case "neck":
          if(neck_audio.paused){
              neck_audio.play()
            }
          else{
              neck_audio.pause();
            }
          break;
        case "cheek":
          if(cheek_audio.paused){
              cheek_audio.play()
            }
          else{
              cheek_audio.pause();
            }
          break;
        case "face":
          if(face_audio.paused){
              face_audio.play()
            }
          else{
              face_audio.pause();
            }
          break;
        case "hair":
          if(hair_audio.paused){
              hair_audio.play()
            }
          else{
              hair_audio.pause();
            }
          break;
        case "eyebrows":
          if(eyebrow_audio.paused){
              eyebrow_audio.play()
            }
          else{
              eyebrow_audio.pause();
            }
          break;
        case "stomach":
          if(stomach_audio.paused){
              stomach_audio.play()
            }
          else{
              stomach_audio.pause();
            }
          break;

      }

     }


    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-red", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-red";
    }
 </script>
</body>
