
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style> 
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.text {
 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
.submit {
 width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

.btn-primary{
   border: 2px solid transparent;
}

 


 
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.text {
 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
.submit {
 width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

.btn-primary{
   border: 2px solid transparent;
}

 


 

</style>
<body>
<form action="/getsignup" method="POST">
	<div>
		<h1>Register</h1>
 			<div class="text">
			<label for="firstname">Firstname</label>
			<input type="text" value="" placeholder="firstname" name="firstname">
			</div>
			<div class="text">
			<label for="lastname">Lastname</label>
			<input type="text" value="" placeholder="lastname" name="lastname">
			</div>
			<div class="text">
			<label for="email">Email</label>
			<input type="email" value="" placeholder="email" name="email">
			</div>
			<div class="text">
			<label for="username">Username</label>
			<input type="text" value="" placeholder="username" name="username">
			</div>
			<div class="text">
			<label for="password">Password</label>
			<input type="password" value="" placeholder="password" name="password">
 			</div>
 			<div class="submit">
			<button type="submit" class="btn btn-primary">Sign up</button>
			</div>
			<br>
	</div>
</form>
</body>